@model Treats.Models.Flavor

<h4>Add a new Flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)

  @Html.Label("Select Sweet")
  @Html.DropDownList("SweetId")

  <input type="submit" value="Add new Flavor" />
}
<p>@Html.ActionLink("Show all Flavors", "Index")</p>